.clients-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.client-items {
  @media screen and (max-width: 767px) {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: $tablet) {
    margin: 15px;
    width: calc((100% - 6 * 15px) / 3);
  }

  @media screen and (min-width: $desktop) {
    margin: 15px;
    width: calc((100% - 12 * 15px) / 6);
  }
}

.client-list {
  width: 100%;
  height: 90px;
  @extend %flex;
  cursor: pointer;
  background-color: $main-background;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition: border-color $duraction $timing;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}

.client-icon {
  fill: $socials-icon;

  transition: fill $duraction $timing;

  .client-list:hover &,
  .client-list:focus & {
    fill: $accent-color;
  }
}
