.overlay {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;

  width: 100%;
  height: 400px;

  background-color: $secondary-background;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  background-image: linear-gradient(
      $secondary-background,
      $secondary-background
    ),
    url("../images/header/Header_img_mobile.jpg");

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        $secondary-background,
        $secondary-background
      ),
      url("../images/header/Header_img@2x_mobile.jpg");
  }

  @media screen and (max-width: 467px) {
    max-width: 480px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 1200px;

    background-image: linear-gradient(
        $secondary-background,
        $secondary-background
      ),
      url("../images/header/Header_img_tablet.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          $secondary-background,
          $secondary-background
        ),
        url("../images/header/Header_img@2x_tablet.jpg");
    }

    @media screen and (min-width: $desktop) {
      max-width: 1600px;
      height: 600px;
      padding-top: 200px;
      padding-bottom: 200px;

      background-image: linear-gradient(
          $secondary-background,
          $secondary-background
        ),
        url("../images/header/Header_img_desktop.jpg");

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            $secondary-background,
            $secondary-background
          ),
          url("../images/header/Header_img@2x_desktop.jpg");
      }
    }
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: $title-accent-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.main-button {
  @extend %button;
}
