.menu-container {
  background-color: $main-background;
  text-align: center;
  font-size: 18px;
  line-height: 1.17;
  z-index: 1;
  &.is-open {
    display: block;
  }

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 4px 8px rgba(0, 0, 0, 0.04);
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
}

.site-nav {
  padding-left: 0;
  font-weight: 500;
  letter-spacing: 0.02em;

  &.list {
    @media screen and (min-width: $tablet) {
      display: inline-flex;
      margin-left: 81px;
    }
  }

  &.contacts {
    @media screen and (min-width: $desktop) {
      display: flex;
      margin-left: 85px;
    }
  }
}

.nav-link {
  position: relative;

  align-items: center;
  padding-top: 0;
  padding-bottom: 8px;

  transition: color $duraction $timing;

  @media screen and (min-width: $tablet) {
    padding-bottom: 28px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.current {
  color: $accent-color;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: $accent-color;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
}

.nav-items {
  padding-bottom: 40px;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.14;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 32px;
    padding-top: 32px;

    & + & {
      margin-left: 50px;
    }
  }
}

.contact-items {
  @media screen and (max-width: 767px) {
    &:first-child {
      padding-top: 20px;
    }

    &:last-child {
      padding-top: 16px;
    }
  }

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    display: flex;
    align-items: center;

    &:last-child {
      padding-top: 10px;
    }
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;

    & + & {
      margin-left: 30px;
    }

    &:last-child {
      padding-top: 0;
    }
  }
}

.contact-link {
  color: $text-color;
  transition: color $duraction $timing;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav-icon {
  margin-right: 10px;
  fill: currentColor;
}
